{% extends 'base.html' %}

{% block content %}
  <h1 class="document-title">Proben erstellen</h1>

  <script>
    window.onload = function() {
      // Resize the window to fit the content
      window.resizeTo(1050, document.body.scrollHeight + 400);
    };
  </script>
  
  <form method="POST" action="{{ url_for('create_sample') }}">
    <div class="form-row">
      <label class="form-label" for="proben_nr">Proben Nr:</label>
      <input class="form-input" type="number" id="proben_nr" name="proben_nr" required>
    </div>
    <div class="form-row">
      <label class="form-label" for="probenname">Probenname:</label>
      <input class="form-input" type="text" id="probenname" name="probenname" required>
    </div>
    <div class="form-row">
      <label class="form-label" for="farbe">Farbe:</label>
      <input class="form-input" type="text" id="farbe" name="farbe">
    </div>
    <div class="form-row">
      <label class="form-label" for="farbintensitaet">Farbintensität:</label>
      <input class="form-input" type="number" id="farbintensitaet" name="farbintensitaet">
    </div>
    <div class="form-row">
      <label class="form-label" for="geruch">Geruch:</label>
      <input class="form-input" type="text" id="geruch" name="geruch">
    </div>
    <div class="form-row">
      <label class="form-label" for="geschmack">Geschmack:</label>
      <input class="form-input" type="text" id="geschmack" name="geschmack">
    </div>
    <div class="form-row">
      <label class="form-label" for="textur">Textur:</label>
      <input class="form-input" type="text" id="textur" name="textur">
    </div>
    <div class="form-row">
      <label class="form-label" for="konsistenz">Konsistenz:</label>
      <input class="form-input" type="text" id="konsistenz" name="konsistenz">
    </div>
    <button type="submit">Hinzufügen</button>
  </form>
{% endblock %}
