<!DOCTYPE html>
<html>
<head>
    <title>Create Sample Chain</title>
</head>
<body>
    <h1>Create Sample Chain</h1>
    <form method="POST" action="{{ url_for('create_sample_chain') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="proben">Proben:</label>
        <table>
            <tr>
                <th>ID</th>
                <th>Proben Nr</th>
                <th>Probenname</th>
                <th>Farbe</th>
                <th>Farbintensität</th>
                <th>Geruch</th>
                <th>Geschmack</th>
                <th>Textur</th>
                <th>Konsistenz</th>
                <th>Select</th>
            </tr>
            {% for proben in samples %}
            <tr>
                <td>{{ proben.id }}</td>
                <td>{{ proben.proben_nr }}</td>
                <td>{{ proben.probenname }}</td>
                <td>{{ proben.farbe }}</td>
                <td>{{ proben.farbintensität }}</td>
                <td>{{ proben.geruch }}</td>
                <td>{{ proben.geschmack }}</td>
                <td>{{ proben.textur }}</td>
                <td>{{ proben.konsistenz }}</td>
                <td><input type="checkbox" name="proben_ids[]" value="{{ proben.id }}"></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Create Sample Chain">
    </form>
</body>
</html>
