



{% extends 'base.html' %}

{% block content %}
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <div class="dashboard">
          <h1>Wähle zwischen</h1>
          <ul>
            <a href="{{ url_for('login') }}" class="professor-link">Professor</a>
            <span class="or">oder</span>
            <a href="{{ url_for('register') }}" class="student-link">Student</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
