{% extends 'base.html' %}

{% block content %}
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <div class="dashboard">
            <a href="{{ url_for('login') }}" class="professor-link">Login</a>
            <br>
            <a href="{{ url_for('register') }}" class="student-link">Register</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
