{% extends 'base.html' %}

{% block content %}

  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <h1 class="document-title">Login</h1>
        <br>
        {% if error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endif %}
        <form method="POST" action="{{ url_for('login') }}">
          <div >
            <label for="username" class="form-label">Benutzername</label>
            <input type="username" class="form-control" id="username" name="username" required>
          </div>
          <div>
            <label for="password" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div><br>
          <button type="submit" class="btn btn-primary btn-green">Login</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
