{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header text-white" style="background-color: #32cd32;">
            <h2>Create Training</h2>
        </div>
        <div class="card-body">
            <form method="POST" id="create-training-form" action="{{url_for('modify_training', training_id=training_id)}}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.name.label(class="form-label") }} 
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{form.question_types.label(class="form-label")}} 
                    {{form.question_types(class="form-control")}}
                </div>
                <div class="form-group d-flex justify-content-between align-items-center">
                    <button type="submit" name="add_question" value="ebp">Frage Hinzufügen</button>
                </div>
                <div class="ebp_forms">
                    {% for question in form.ebp_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Einfach beschreibende Prüfung - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.proben_id.label(class="form-label")}} 
                        {{question.proben_id(class="form-control")}}
                        <button type="submit" name="delete_ebp_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="rangordnungstest_forms">
                    {% for question in form.rangordnungstest_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Rangordnungstest - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.probenreihe_id.label(class="form-label")}}
                        {{question.probenreihe_id(class="form-control")}}
                        <button type="submit" name="delete_rangordnungstest_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="auswahltest_forms">
                    {% for question in form.auswahltest_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Auswahltest - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.probenreihe_id.label(class="form-label")}} 
                        {{question.probenreihe_id(class="form-control")}}
                        <button type="submit" name="delete_auswahltest_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="dreieckstest_forms">
                    {% for question in form.dreieckstest_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Dreieckstest - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.probenreihe_id_1.label(class="form-label")}} 
                        {{question.probenreihe_id_1(class="form-control")}}
                        {{question.lösung_1.label(class="form-label")}} 
                        {{question.lösung_1(class="form-control")}}
                        {{question.probenreihe_id_2.label(class="form-label")}}
                        {{question.probenreihe_id_2(class="form-control")}}
                        {{question.lösung_2.label(class="form-label")}} 
                        {{question.lösung_2(class="form-control")}}
                        <button type="submit" name="delete_dreieckstest_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="geruchserkennung_forms">
                    {% for question in form.geruchserkennung_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Geruchserkennungstest - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.proben_id.label(class="form-label")}} 
                        {{question.proben_id(class="form-control")}}
                        <button type="submit" name="delete_geruchserkennungstest_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="hed_beurteilung_forms">
                    {% for question in form.hed_beurteilung_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Hedonische Beurteilung - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.probenreihe_id.label(class="form-label")}} 
                        {{question.probenreihe_id(class="form-control")}}
                        <button type="submit" name="delete_hed_beurteilung_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="konz_reihe_forms">
                    {% for question in form.konz_reihe_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Konzentrationsreihe - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.probenreihe_id.label(class="form-label")}} 
                        {{question.probenreihe_id(class="form-control")}}
                        <button type="submit" name="delete_konz_reihe_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="paar_vergleich_forms">
                    {% for question in form.paar_vergleich_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Paarweise Vergleichsprüfung - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.probenreihe_id_1.label(class="form-label")}} 
                        {{question.probenreihe_id_1(class="form-control")}}
                        {{question.lösung_1.label(class="form-label")}}
                        {{question.lösung_1(class="form-control")}}
                        {{question.probenreihe_id_2.label(class="form-label")}} 
                        {{question.probenreihe_id_2(class="form-control")}}
                        {{question.lösung_2.label(class="form-label")}}
                        {{question.lösung_2(class="form-control")}}
                        <button type="submit" name="delete_paar_vergleich_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="profilprüfung_forms">
                    {% for question in form.profilprüfung_questions %}
                    {{ question.csrf_token }}
                    <div class="form-group">
                        <h3>Profilprüfung - {{ loop.index }}</h3>
                        {{question.aufgabenstellung_id.label(class="form-label")}} 
                        {{question.aufgabenstellung_id(class="form-control")}}
                        {{question.proben_id.label(class="form-label")}} 
                        {{question.proben_id(class="form-control")}}
                        {% for kriteria in question.kriterien %}
                            {{kriteria.label(class="form-label")}}{{loop.index}} 
                            {{kriteria(class="form-control")}}
                        {% endfor %}
                        <button type="submit" class="btn btn-success" name="criteria" value="add {{loop.index0}}">
                          <i class="fas fa-trash-alt mr-1"></i>Kriterium hinzufügen
                        </button>
                        <button type="submit" class="btn btn-danger" name="criteria" value="remove {{loop.index0}}">
                          <i class="fas fa-trash-alt mr-1"></i>Kriterium entfernen
                        </button>
                        <br>
                        <button type="submit" name="delete_profilprüfung_question" value="{{loop.index0}}">Frage entfernen</button>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success" name="submit" value="modify_training">
                  <i class="fas fa-plus mr-1"></i>Training erstellen
            </form>
        </div>
    </div>
</div>
{% endblock %}
