{% extends 'base.html' %}

<!-- TODO: Add Training view. So the professor can look at the structure of the selected training before assigning students -->

{% block content %}
  <h1>Welcome, Professor!</h1>
  <p>Select a training to start:</p>
  <ul>
    {% for training in trainings %}
      <li><a href="{{ url_for('select_training', training=training) }}">{{ training.name }}</a></li>
    {% endfor %}
  </ul>

  <br>
  <a href="{{ url_for('create_training') }}" class="btn btn-primary">Training erstellen</a>
{% endblock %}
