{% extends 'base.html' %}
{% block content %}
  <div class="card-container">
    <div class="card">
      <h1 class="document-title">Registriere dich oder deine Gruppe</h1>
      <br>
      <form action="/register" method="post">
        {% if error %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
        {% endif %}
      
        <div >
          <label for="username" class="form-label">Benutzername</label>
          <input type="username" class="form-control" id="username" name="username" required>
        </div>
        <div>
          <label for="password" class="form-label">Passwort</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <input type="checkbox" id="professor" name="professor">
          <label for="professor">Professor</label>
        </div><br>
        <div id="professorPasswordWrapper" style="display: none;">
          <label>Professor Passwort:</label>
          <input type="password" name="professor_password"><br><br>
        </div>
        <button type="submit" class="btn btn-primary btn-green">Registrieren</button>
      </form>
    </div>
  </div>

  <script>
    var professorCheckbox = document.getElementById('professor');
    var professorPasswordWrapper = document.getElementById('professorPasswordWrapper');

    professorCheckbox.addEventListener('change', function() {
      professorPasswordWrapper.style.display = this.checked ? 'block' : 'none';
    });
  </script>
{% endblock %}
