{% extends 'base.html' %}

{% block content %}

<div class="card-container">
  <div class="card">
    <div class="card-body">
      {% if training %}
        <p>Praktikum {{ training }} wurde zugewiesen.</p>
        
          <form action="{{ url_for('training_page', training=training) }}">
            <button type="submit" class="btn btn-primary">Go to {{ training }}</button>
          </form>
                      
      {% else %}
        <p class="waiting-room-text">Hoppla, du bist im Warteraum gelandet. Bitte warten.</p>

        <script>
          setInterval(function() {
            location.reload();
          }, 5000);
        </script>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
