{% extends "base.html" %}

{% block title %}
Training Page
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header">
            {% if question_type == 'profilprüfung' %}
            <form method="POST" id="profilprüfung-form" action="{{ url_for('training_page') }}">
                <h2>Profilprüfung</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                <br>
                <h3>Probe:</h3>
                <table>
                    <tr>
                        <th>Probe Nr.</th>
                        <th>Beschreibung</th>
                    </tr>
                    <tr>
                        <td>{{ proben_id.proben_nr }}</td>
                        <td>{{ proben_id.anmerkung }}</td>
                    </tr>
                </table>
                <br>
                <h3>Kriterien:</h3>
                <table>
                    <tr>
                        <th>Kriterium</th>
                        <th>Wert</th>
                    </tr>
                    {% for kriterium in kriterien %}
                    <tr>
                        <td>{{ kriterium }}</td>
                        <td>
                            <div class="skala-labels">
                                <span>zu schwach</span>
                                <span>genau richtig</span>
                                <span>zu stark</span>
                            </div>
                            <input type="range" name="kriterien" min="0" max="10" list="kriterien-list" class="form-control" />
                            <datalist id="kriterien-list">
                                <option value="1"></option>
                                <option value="5"></option>
                                <option value="10"></option>
                            </datalist>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                {{ form.csrf_token }}
                <button type="submit">Submit</button>
            </form>
            {% endif %}

            {% if question_type == 'hed_beurteilung' %}
            <h2>Hedonische Beurteilung</h2>
            <p>{{ aufgabenstellung.aufgabenstellung }}</p>
            <form method="POST" id="hed-beurteilung-form" action="{{ url_for('training_page') }}">
                {% for probe in probenreihen_ids %}
                
                <label>{{ probe.probenname }}</label>
                <div class="skala-labels">
                    <span>mag ich überhaupt nicht</span>
                    <span>weder dafür noch dagegen</span>
                    <span>mag ich besonders gern</span>
                </div>
                <input type="range" name="taste_evaluations-{{ loop.index0 }}-taste" min="1" max="10" step="1" list="taste_scale" class="form-control">
                    <datalist id="taste_scale">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                {% endfor %}
                <br></br>
                {{ form.csrf_token }}
                <button type="submit">Submit</button>
            </form>
            {% endif %}

            {% if question_type == 'paar_vergleich' %}
            <form method="POST" id="paar-vergleich-form" action="{{ url_for('training_page') }}">
                <h2>Paarweiser Vergleich</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                
                <h3>Probenreihe 1:</h3>
                <table>
                    {% for probe in probenreihen_id_1 %}
                    <tr>
                        <td>{{ probe.proben_nr }}</td>
                        <td>{{ probe.probenname }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br><br>
                
                <h3>Probenreihe 1:</h3>
                <div>
                    {{ form.probe_1.label }}
                    <select name="{{ form.probe_1.name }}" class="form-control">
                        
                        {% for probe in probenreihen_id_1 %}
                        <option value="{{ probe.proben_nr }}">{{ probe.proben_nr }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    {{ form.probe_2.label }}
                    <select name="{{ form.probe_2.name }}" class="form-control">
                        
                        {% for probe in probenreihen_id_1 %}
                        <option value="{{ probe.proben_nr }}">{{ probe.proben_nr }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    {{ form.probe_3.label }}
                    <select name="{{ form.probe_3.name }}" class="form-control">
                        
                        {% for probe in probenreihen_id_1 %}
                        <option value="{{ probe.proben_nr }}">{{ probe.proben_nr }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <br><br>
                <h3>Probenreihe 2:</h3>
                <table>
                    {% for probe in probenreihen_id_2 %}
                    <tr>
                        <td>{{ probe.proben_nr }}</td>
                        <td>{{ probe.probenname }}</td>
                    </tr>
                    {% endfor %}
                </table>
                
                <br><br>
                <h3>Probenreihe 2:</h3>
                <div>
                    {{ form.probe_4.label }}
                    <select name="{{ form.probe_4.name }}" class="form-control">
                        
                        {% for probe in probenreihen_id_2 %}
                        <option value="{{ probe.proben_nr }}">{{ probe.proben_nr }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    {{ form.probe_5.label }}
                    <select name="{{ form.probe_5.name }}" class="form-control">
                        
                        {% for probe in probenreihen_id_2 %}
                        <option value="{{ probe.proben_nr }}">{{ probe.proben_nr }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    {{ form.probe_6.label }}
                    <select name="{{ form.probe_6.name }}" class="form-control">
                        
                        {% for probe in probenreihen_id_2 %}
                        <option value="{{ probe.proben_nr }}">{{ probe.proben_nr }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                {{ form.csrf_token }}
                <button type="submit">Submit</button>
            </form>
            {% endif %}


            {% if question_type == 'ebp' %}
            <form method="POST" id="ebp-form" action="{{ url_for('training_page', question_index=question_index + 1) }}">
                <h2>Einfach beschreibende Prüfung</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                <h3>Probe:</h3>
                {{ proben_id.proben_nr }} {{ proben_id.probenname }}
                <br><br>
                <div>
                    {{ form.aussehen_farbe.label }} {{ form.aussehen_farbe(class="form-control") }}
                    {{ form.geruch.label }} {{ form.geruch(class="form-control") }}
                    {{ form.geschmack.label }} {{ form.geschmack(class="form-control") }}
                    {{ form.textur.label }} {{ form.textur(class="form-control") }}
                    {{ form.konsistenz.label }} {{ form.konsistenz(class="form-control") }}
                </div>
                <input type="hidden" name="question_index" value="{{ question_index + 1 }}">
                <input type="hidden" name="proben_nr" value="{{ proben_id.proben_nr }}">
                <input type="hidden" name="probenname" value="{{ proben_id.probenname }}">
                {{ form.csrf_token }}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
        
            
        {% if question_type == 'rangordnungstest' %}
        <form method="POST" id="rangordnungstest-form" action="{{ url_for('training_page', question_index=question_index + 1) }}">
            <h2>Rangordnungstest</h2>
            <p>{{ aufgabenstellung.aufgabenstellung }}</p>
            <h3>Probenreihe:</h3>
            <table>
                {% for probe in probenreihen_id %}
                <tr>
                    <td>{{ probe.proben_nr }}</td>
                    <td>{{ probe.probenname }}</td>
                </tr>
                {% endfor %}
            </table>
            <br><br>
            <div class="fitting-area">
                {% for i in range(probenreihen_id|length) %}
                <div class="fitting-slot" id="fitting-slot-{{ i + 1 }}">
                    <span class="slot-number">{{ i + 1 }}</span>
                    <input type="hidden" name="antworten-{{ i + 1 }}" value="SlotNumber_{{ i + 1 }},Probenname_{{ probenreihen_id[i].probenname }},ProbeNR_{{ probenreihen_id[i].proben_nr }}">
                </div>
                {% endfor %}
            </div>
            
            <div class="drag-container">
                {% for probe in probenreihen_id %}
                <div class="drag-item" draggable="true" data-probe-id="{{ probe.id }}">
                    {{ probe.proben_nr }} {{ probe.probenname }}
                    <input type="hidden" name="antworten-{{ loop.index }}" value="Probenname_{{ probe.probenname }},ProbeNR_{{ probe.proben_nr }}">
                </div>
                {% endfor %}
            </div>
            <input type="hidden" name="question_index" value="{{ question_index + 1 }}">
           
            {{ form.csrf_token }}
            <button type="submit">Submit</button>
        </form>
        {% endif %}
        
        
            {% if question_type == 'dreieckstest' %}
            <form method="POST" id="dreieckstest-form" action="{{ url_for('training_page', question_index=question_index + 1) }}">
                <h2>Dreieckstest</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                
                <table>
                    <thead>
                        <tr>
                            <th>Proben Nummer des Probensatzes</th>
                            <th>abweichende Probe</th>
                            <th>Beschreibe den Unterschied</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ probenreihen_id_1 }}</td>
                            <td>
                                <select name="abweichende_probe_1" class="form-control">
                                    {% for value in probenreihen_id_1 %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" name="beschreibung_1" class="form-control">
                            </td>
                          
                        </tr>
                        <tr>
                            <td>{{ probenreihen_id_2 }}</td>
                            <td>
                                <select name="abweichende_probe_2" class="form-control">
                                    {% for value in probenreihen_id_2 %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" name="beschreibung_2" class="form-control">
                            </td>
                         
                        </tr>
                    </tbody>
                </table>
                
                
                {{ form.csrf_token }}
                <button type="submit">Submit</button>
            </form>
            {% endif %}
            
            {% if question_type == 'auswahltest' %}
    <form method="POST" id="auswahltest-form" action="{{ url_for('training_page', question_index=question_index + 1) }}">
        <h2>Auswahltest</h2>
        <p>{{ aufgabenstellung.aufgabenstellung }}</p>
        <h3>Probenreihe:
            {% for probe in probenreihen_id %}
                {{ probe.proben_nr }} 
            {% endfor %}
        </h3>

        <table>
            <tr>
                <th>Probennummer</th>
                <th>Probe</th>
                <th>salzig</th>
                <th>süß</th>
                <th>sauer</th>
                <th>bitter</th>
                <th>nicht zu erkennen</th>
            </tr>
            
            {% for index, sample in enumerate(form.samples) %}
    <tr>
        <td>
            <input type="hidden" name="sample.probe_nr" value="{{ sample.probe_nr }}">
            {{ sample.probe_nr }}
        </td>
        <td>
            <input type="hidden" name="sample.probe_name{{ index }}" id="sample.probe_name[index]" value="{{ sample.probe_name }}">
            {{ sample.probe_name }}
        </td>
        <td>{{ sample.taste_salzig }}</td>
        <td>{{ sample.taste_süß }}</td>
        <td>{{ sample.taste_sauer }}</td>
        <td>{{ sample.taste_bitter }}</td>
        <td>{{ sample.taste_nicht_erkennen }}</td>
        <td>{{ sample.csrf_token }}</td>
    </tr>
{% endfor %}
        </table>
        {{ form.csrf_token }}
        <button type="submit">Submit</button>
    </form>
{% endif %}

            
            {% if question_type == 'geruchserkennungtest' %}
            <!-- Geruchserkennung form -->
            <form method="POST" id="geruchserkennung-form" action="{{ url_for('training_page', question_index=question_index + 1) }}">
                <h2>Geruchserkennung</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
        
                <table>
                    <thead>
                        <tr>
                            <th>Proben Nummer</th>
                            <th>Geruchserkennung ohne Auswahlliste</th>
                            <th>Beschreibung des Geruchs</th>
                            <th>Geruchserkennung mit Auswahlliste</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for probe in probenreihen_id %}
                        <tr>
                            <td>{{ probe.proben_nr }}</td>
                            <td>
                                <input type="text" name="ohne_auswahl_{{ probe.proben_nr }}" class="form-control">
                            </td>
                            <td>
                                <input type="text" name="beschreibung_{{ probe.proben_nr }}" class="form-control">
                            </td>
                            <td>
                                <select name="mit_auswahl_{{ probe.proben_nr }}" class="form-control">
                                    <option value="erdig">erdig</option>
                                    <option value="sanft">sanft</option>
                                    <option value="intensiv">intensiv</option>
                                    <option value="frisch">frisch</option>
                                    <option value="zauberhaft">zauberhaft</option>
                                    <option value="klar">klar</option>
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                {{ form.csrf_token }}
                <button type="submit">Submit</button>
            </form>
            {% endif %}
            {% if question_type == 'konz_reihe' %}
<!-- Konz reihe form-->
<form method="POST" id="hed-beurteilung-form" action="{{ url_for('training_page') }}">
    <h2>Konzentrationsreihe</h2>
    <p> </p>
    <p>{{ aufgabenstellung.aufgabenstellung }}</p>

    <table>
        <thead>
            <tr>
                <th>O</th>
                <th>Sie haben keinen Geschmackseindruck, die Probe schmeckt wie O = Wasser.</th>
            </tr>
            <tr>
                <td>?</td>
                <td>Sie stellen eine Veränderung zu Probe O fest, können den Geschmack aber nicht definieren.</td>
            </tr>
            <tr>
                <td>x</td>
                <td>Sie haben den Geschmack erkannt (bitte Geschmacksart notieren).</td>
            </tr>
            <tr>
                <td>xx</td>
                <td>Der Geschmack ist im Vergleich zur vorhergehenden Probe stärker geworden.</td>
            </tr>
            <tr>
                <td>xxx</td>
                <td>Fügen Sie bitte bei jedem stärker werden der Konzentration ein Kreuz hinzu</td>
            </tr>     
            <!-- Add more rows for symbols and descriptions -->
        </thead>
    </table>

    <p>Probenreihe:</p>
    <table>
        <tr>
            <td>{{ probenreihen_id }}</td>
        </tr>
    </table>
    <div>
        <label for="erkannte_geschmacksart">Erkannte Geschmacksart:</label>
        <input type="text" name="erkannte_geschmacksart" id="erkannte_geschmacksart" class="form-control">
    </div>
    <div>
        <label for="stammlösung">Stammlösung 1% Zugabe ml/l:</label>
        <input type="number" name="stammlösung" id="stammlösung" class="form-control" step="0.01" required value="{{ stammlösung|default('') }}">
    </div>
    
    {% if stammlösung is not defined %}
        <script>
            var stammlösungValue = prompt("Please enter the value for Stammlösung:");
            document.getElementById("stammlösung").value = stammlösungValue;
        </script>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Reihenfolge</th>
                <th>Wasser</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>Antwort bzw. Zahl der Kreuze</td>
                {% for _ in range(9) %}
                    <td>
                        <select name="probenreihen_id" >
                            <option value=""></option>
                            <option value="O" {% if loop.index == 1 %}selected{% endif %}>O</option>
                            <option value="?">?</option>
                            <option value="x">x</option>
                            <option value="xx">xx</option>
                            <option value="xxx">xxx</option>
                        </select>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Stammlösung {{ stammlösung|default('') }}% Zugabe ml/l</td>
                <td>0</td>
                {% for num in range(5, 45, 5) %}
                <td>{{ num }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Konzentration %</td>
                {% for num in range(5, 50, 5) %}
                <td id="konzentration{{ num }}">{{ stammlösung|default('0')|float * num / 1000|round(6) }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    
    {{ form.csrf_token }}
    <button type="submit">Submit</button>
</form>
{% endif %}
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script>
    const stammlösungInput = document.getElementById('stammlösung');
    const konzentrationFields = document.querySelectorAll('[id^="konzentration"]');
    
    stammlösungInput.addEventListener('input', function () {
        const stammlösungValue = parseFloat(this.value);
        konzentrationFields.forEach(function (field, index) {
            field.textContent = (stammlösungValue * (index * 5) / 1000).toFixed(4);
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.taste-checkbox').on('change', function() {
        var fieldName = $(this).attr('name');
        var index = $(this).val();
        var isChecked = $(this).is(':checked');

    
        var form = $(this).closest('form'); // Find the parent form element
        form.data(fieldName + '-' + index, isChecked);
    });
});
</script>
<script>
    
    const dragItems = document.querySelectorAll('.drag-item');
    const dropSlots = document.querySelectorAll('.fitting-slot');

    dragItems.forEach((item) => {
        item.addEventListener('dragstart', (e) => {
            e.dataTransfer.setData('text/plain', e.target.dataset.probeId);
        });
    });

    dropSlots.forEach((slot) => {
        slot.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        slot.addEventListener('drop', (e) => {
            e.preventDefault();
            const probeId = e.dataTransfer.getData('text/plain');
            const probe = document.querySelector(`[data-probe-id="${probeId}"]`);
            slot.appendChild(probe);
        });
    });
    
</script>

</script>
{% endblock %}
