{% extends "base.html" %}

{% block title %}
Training Page
{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="card">
        <div class="card-header">
            {% if question_type == 'paar_vergleich' %}
            <form method="POST" id="paar-vergleich-form" action="answer_question">
                <h2>Paarweiser Vergleich</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                <h3>Probenreihe 1:</h3>
                <table>
                {% for probe in probenreihen_id_1.proben_ids %}
                  <tr>
                {{Proben.query.get(probe).proben_nr}} {{ Proben.query.get(probe).probenname}}<br>
                </tr>
                {% endfor %}
                </table>
                <h3>Probenreihe 2:</h3>
                <table>
                {% for probe in probenreihen_id_2.proben_ids %}
                  <tr>
                {{Proben.query.get(probe).proben_nr}} {{ Proben.query.get(probe).probenname}}<br>
                </tr>
                {% endfor %}
                </table>
                <br><br>
                <div>
                {{ form.proben_id_1.label }} {{ form.proben_id_1(class="form-control") }}
              </div>
              <div>
                {{ form.proben_id_2.label }} {{ form.proben_id_2(class="form-control") }}
              </div>
              <div>
                {{ form.proben_id_3.label }} {{ form.proben_id_3(class="form-control") }}
              </div>
            </form>
            {% endif %}
            {% if question_type == 'ebp' %}
            <form method="POST" id="ebp-form" action="answer_ebp">
                <h2>Einfach beschreibende Prüfung</h2>
                <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                <h3>Probe:</h3>
                {{ proben_id.proben_nr }} {{ proben_id.probenname }}
                <br><br>
                <div>
                {{ form.aussehen_farbe.label }} {{ form.aussehen_farbe(class="form-control") }}
                {{ form.geruch.label }} {{ form.geruch(class="form-control") }}
                {{ form.geschmack.label }} {{ form.geschmack(class="form-control") }}
                {{ form.textur.label }} {{ form.textur(class="form-control") }}
                {{ form.konsistenz.label }} {{ form.konsistenz(class="form-control") }}
              {% endif %}
              {% if question_type == 'rangordnungstest' %}
              <form method="POST" id="rangordnungstest-form" action="answer_rangordnungstest">
                  <h2>Rangordnungstest</h2>
                  <p>{{ aufgabenstellung.aufgabenstellung }}</p>
                  <h3>Probenreihe:</h3>
                  <table>
                  {% for probe in probenreihen_id.proben_ids %}
                    <tr>
                  {{Proben.query.get(probe).proben_nr}} {{ Proben.query.get(probe).probenname}}<br>
                  </tr>
                  {% endfor %}
                  </table>
                  <br><br>
                  {% for probe_id, antwort_field in probenreihen_id.proben_ids|zip_lists(form.antworten) %}
                    Rang:
                    {{ Proben.query.get(probe_id).proben_nr }} {{ Proben.query.get(probe_id).probenname }}<br>
                    {{ antwort_field(class="form-control") }}
                {% endfor %}

                {% endif %}

        </div>
        <div class="card-body">
            <form method="post">
                {% for option in question['options'] %}
                <div class="form-group question_type">
                    <input class="form-control" type="radio" name="question{{ question['id'] }}" value="{{ option }}" id="{{ option }}">
                    <label for="{{ option }}">{{ option }}</label>
                </div>
                {% endfor %}
                <input type="hidden" name="current_question_index" value="{{ current_question_index }}">
                <button type="submit" class="btn btn-primary btn-block choose-button">Submit</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
