{% extends 'base.html' %}

{% block content %}
  <h1 class="document-title">Vorhandene Proben und Probenreihen</h1>

  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>

  <script>
    function deleteSample(sampleId) {
      fetch("/delete_sample/" + sampleId, {
        method: "DELETE"
      })
      .then(response => {
        if (response.ok) {
          console.log("Sample deleted successfully.");
          location.reload(); // Refresh the page
        } else {
          console.error("Failed to delete sample.");
        }
      })
      .catch(error => {
        console.error("An error occurred while deleting the sample:", error);
      });
    }
    
    function deleteSampleChain(sampleChainId) {
      fetch("/delete_sample_chain/" + sampleChainId, {
        method: "DELETE"
      })
      .then(response => {
        if (response.ok) {
          console.log("Sample chain deleted successfully.");
          location.reload(); // Refresh the page
        } else {
          console.error("Failed to delete sample chain.");
        }
      })
      .catch(error => {
        console.error("An error occurred while deleting the sample chain:", error);
      });
    }
  </script>

<h2>Proben</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Proben Nr</th>
      <th>Probenname</th>
      <th>Farbe</th>
      <th>Farbintensität</th>
      <th>Geruch</th>
      <th>Geschmack</th>
      <th>Textur</th>
      <th>Konsistenz</th>
      <th>Anmerkung</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for sample in samples %}
      <tr>
        <td>{{ sample.id }}</td>
        <td>{{ sample.proben_nr }}</td>
        <td>{{ sample.probenname }}</td>
        <td>{{ sample.farbe }}</td>
        <td>{{ sample.farbintensität }}</td>
        <td>{{ sample.geruch }}</td>
        <td>{{ sample.geschmack }}</td>
        <td>{{ sample.textur }}</td>
        <td>{{ sample.konsistenz }}</td>
        <td>{{ sample.anmerkung }}</td>
        
        <td><a href="{{ url_for('edit_sample', sample_id=sample.id) }}" class="btn btn-warning">Edit</a></td>
        <td><button onclick="deleteSample('{{ sample.id }}')" class="btn-remove">Delete</button></td>
      </tr>
    {% endfor %}
  </table>
  <button onclick="window.location.href='{{ url_for('create_sample') }}'" class="btn-add">Hinzufügen</button>

  <h2>Probenreihen</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Proben IDs</th>
      <th>Delete</th>
    </tr>
    {% for probenreihe in sampleChain %}
      <tr>  
        <td>{{ probenreihe.name }}</td>
        <td>{{ probenreihe.proben_ids }}</td>
        <td><button onclick="deleteSampleChain('{{ probenreihe.id }}')" class="btn-remove">Delete</button></td>
      </tr>
    {% endfor %}
  </table>
  <button onclick="window.location.href='{{ url_for('create_sample_chain') }}'" class="btn-add">Hinzufügen</button>
{% endblock %}